/*Footer FILE for CAR_PAGES */


   /*FOOTER*/

   .footerend{
    background-color: #00655e ;
    color: #fff;
   
   }
   
   .directionBox {
   background-color: #00655e;
     margin-left: 2%;
     padding-top: 5%;
     font-family: "Sora", sans-serif;
     text-transform: uppercase;
   }
   
   .footeraddress {
     margin-left: 2%;
     font-size: 15px;
     text-align: left;
   }
   
   .openinghours {
     padding-top: 10px;
     text-align: left;
     border-spacing: 100px;
     font-weight: 900;
     font-size: 15px;
   }
   
   
 
   
   .mapicon {margin-left: 70px;
   margin-right: auto;}
   
   footer {background-color: #252525}
   
   .footerbox {
     padding-top: 2%;
     margin-bottom: 0%;
     margin-left: 2.5%;
   padding-bottom: 2%;
   text-align: center;
   }
   
   .footerend {padding-bottom: 0% !important;
   
   background-color: #00655e}
   
   .social {padding-top: 15%;}

   .schedulehours .table {border: none;
    border-collapse: collapse;}

    .schedulehours .th {border: none;
        border-collapse: collapse;
        padding-top: 1px !important;
        padding-bottom: 10px !important;
        padding-left: 5px !important;
        padding-right: 40px !important;
    }

        .schedulehours .td {border: none;
            border-collapse: collapse;
            padding-top: 1px !important;
            padding-bottom: 10px !important;
            padding-left: 5px !important;
            padding-right: 40px !important;}

            .schedulehours .tr {  padding-top: 1px !important;
                padding-bottom: 10px !important;
                padding-left: 5px !important;
                padding-right: 40px !important;}

    

  /*
  .time {text-align: left;}
  
  .wrap{
  position: absolute;
  right: 40%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  }